/* Styles go here */

/* The back to top / scroll to form buttons
 * A sticky back to top link based on https://moderncss.dev/pure-css-smooth-scroll-back-to-top/ 
 * Slim version of the above
 */
 main {
    position: relative;
    margin-bottom: 6rem;
 }
 .back-to-top-wrapper {
    position: absolute;
    top: 100vh;
    right: 1rem;
    bottom: -5em;
    pointer-events: none;
}
.back-to-top-link-container {
    position: sticky;
    pointer-events: all;
    top: calc(100vh - 8rem);
    pointer-events: all;
    display: inline-block;
  }

 /* textarea in forms are tall enough to fit their content */
 textarea {
   field-sizing: content; /* https://caniuse.com/?search=field-sizing | it's fine because I use Chrome for this app */
}

/* Images are responsive */
img {
   max-width: 100%;
   height: auto;
}