<?php
// Environment vars will go here
// Update and save as env.php

// Where will the photos go online? (public server location)
define( "BASE_PHOTOS_LOCATION_ABSOLUTE", "" );	    // Needs the trailing slash, e.g. "https://yoursite.com/photos/"
define( "BASE_PHOTOS_LOCATION_SERVER", "" );	    // Server address, needs the trailing slash, e.g. "/var/www/photos/"

// Where to find the photos to process for the srcsets?
define( "BASE_PHOTOS_LOCATION_PREVIEW_RELATIVE", "" );	// Needs the trailing slash, e.g. "./photos/"

// Where to find the photos to process for the photo sets?
define( "BASE_PHOTOS_LOCATION_PREVIEW_ABSOLUTE", "" );	    // Needs the trailing slash, e.g. "https://yoursite.com/photos/" or "http://localhost/photos/"
?>